<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="app.myfirstproject.zohoreducationalcenter">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label=""
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity android:name=".TeacherDescription"></activity>
        <activity android:name=".ContactUs" />
        <activity android:name=".TimeTable" />
        <activity android:name=".TestResult" />
        <activity android:name=".homepage" />
        <activity android:name=".history" />
        <activity android:name=".Login_activity" />
        <activity android:name=".MainActivity2" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>